<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="file-inputs">
      <label for="file1">Main Dataset</label>
      <input type="file" name="file1" id="file1" />
    </div>
    <div>
      <button onclick="submitForm()">Submit</button>
    </div>

    <button id="add-dataset">Add Dataset</button>
  </body>

  <script>
    let fileindex = 1;

    async function submitForm(event) {
      const formData = new FormData();

      console.log("List fields here");

      const fileInputs = document.querySelector("#file-inputs");
      const inputs = fileInputs.querySelectorAll("input[type='file']");
      inputs.forEach((input) => {
        let fileInput = document.querySelector(`input#${input.id}`);
        formData.append("files", fileInput.files[0]);
      });
      try {
        fetch("/results", {
          method: "POST",
          body: formData,
        });
      } catch (error) {
        console.log(error);
      }
    }

    function addDataset() {
      fileindex += 1;

      const fileInputs = document.querySelector("#file-inputs");

      const newDiv = document.createElement("div");
      const newLabel = document.createElement("label");
      const newInput = document.createElement("input");

      newLabel.setAttribute("for", "file" + fileindex);
      newLabel.innerText = "Dataset " + fileindex;

      newInput.setAttribute("type", "file");
      newInput.setAttribute("name", "file" + fileindex);
      newInput.setAttribute("id", "file" + fileindex);

      newDiv.appendChild(newLabel);
      newDiv.appendChild(newInput);

      fileInputs.insertAdjacentElement("beforeend", newDiv);
    }

    document
      .querySelector("#add-dataset")
      .addEventListener("click", addDataset);
  </script>
</html>
