<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="input-form">
      <div id="file-inputs">
        <div>
          <label for="file1">Main Dataset</label>
          <input type="file" name="file1" id="file1" />
          <label for="file1">Description Index</label>
          <input type="number" min="0" name="index1" id="index1" />
        </div>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

    <button id="add-dataset">Add Dataset</button>
    <div>
      <button id="download-excel" hidden>Export Excel</button>
      <button id="download-csv" hidden>Export CSV</button>
    </div>
    <img id="myImageTest" src="" alt="" />
  </body>

  <script>
    let fileindex = 1;

    let reportData = null;

    const form = document.querySelector("#input-form");
    const xlsDownloadButton = document.getElementById("download-excel");
    const csvDownloadButton = document.getElementById("download-csv");

    form.addEventListener("submit", submitHandler);
    xlsDownloadButton.addEventListener("click", downloadHandler);
    xlsDownloadButton.fileType = "xlsx";
    csvDownloadButton.addEventListener("click", downloadHandler);
    csvDownloadButton.fileType = "csv";

    function getFilenameFromContentDisposition(header) {
      if (!header) return null;

      const match = header.match(/filename="?([^"]+)"?/);
      return match ? match[1] : null;
    }

    async function submitHandler(event) {
      event.preventDefault();

      const formElement = document.getElementById("myForm");

      const formData = new FormData();

      const inputs = document.querySelector("#file-inputs");
      const fileInputs = inputs.querySelectorAll("input[type='file']");
      const indexInputs = inputs.querySelectorAll("input[type='number']");

      fileInputs.forEach((input) => {
        let fileInput = document.querySelector(`input#${input.id}`);
        formData.append("files", fileInput.files[0]);
      });
      indexInputs.forEach((input) => {
        let indexInput = document.querySelector(`input#${input.id}`);
        formData.append("indices", indexInput.value);
      });
      try {
        res = await fetch("/compute", {
          method: "POST",
          body: formData,
        });

        if (res.status === 200) {
          const data = await res.json();
          reportData = data.report;

          xlsDownloadButton.removeAttribute("hidden");
          csvDownloadButton.removeAttribute("hidden");
        }
      } catch (error) {
        console.log(error);
      }
    }

    async function downloadHandler(event) {
      try {
        res = await fetch("/export", {
          method: "POST",
          body: JSON.stringify({
            data: reportData,
            file_type: event.currentTarget.fileType,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        });

        if (res.status === 200) {
          // You read the stream in a more advanced way
          // https://developer.mozilla.org/en-US/docs/Web/API/Streams_API/Using_readable_streams#consuming_a_fetch_using_asynchronous_iteration
          const blob = await res.blob();

          const header = res.headers.get("Content-Disposition");
          const filename = getFilenameFromContentDisposition(header);

          const fileUrl = URL.createObjectURL(blob);
          const link = document.createElement("a");
          link.href = fileUrl;
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          link.remove();
          window.URL.revokeObjectURL(fileUrl);
        }
      } catch (error) {
        console.log(error);
      }
    }

    function addDataset() {
      fileindex += 1;

      const inputs = document.querySelector("#file-inputs");

      const newDiv = document.createElement("div");
      const fileLabel = document.createElement("label");
      const fileInput = document.createElement("input");

      const indexLabel = document.createElement("label");
      const indexInput = document.createElement("input");

      fileLabel.setAttribute("for", "file" + fileindex);
      fileLabel.innerText = "Dataset " + fileindex;

      fileInput.setAttribute("type", "file");
      fileInput.setAttribute("name", "file" + fileindex);
      fileInput.setAttribute("id", "file" + fileindex);

      indexLabel.setAttribute("for", "index" + fileindex);
      indexLabel.innerText = "Description Index";

      indexInput.setAttribute("type", "number");
      indexInput.setAttribute("min", "0");
      indexInput.setAttribute("name", "index" + fileindex);
      indexInput.setAttribute("id", "index" + fileindex);

      newDiv.appendChild(fileLabel);
      newDiv.appendChild(fileInput);
      newDiv.appendChild(indexLabel);
      newDiv.appendChild(indexInput);

      inputs.insertAdjacentElement("beforeend", newDiv);
    }

    document
      .querySelector("#add-dataset")
      .addEventListener("click", addDataset);
  </script>
</html>
